<h3><i class="fas fa-feather-alt"></i> WritersBlock</h3>
<div class="section">
    <p class="lead">Write your commentary, memoirs, stories, analysis...anything. Keep it private, or share it with the community. Backed by the cloud. <br><br>What will you write about?</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>